PORT=3000

# MongoDB Atlas connection string. Example:
# MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/lessons_db?retryWrites=true&w=majority
MONGO_URI=

# Cookies for CRM parsers. Обновлять только в .env, не коммитить.
ITC_COOKIE=
ZERO_COOKIE=
MATRIUS_COOKIE=

# Можно указать конкретный origin фронтенда или оставить *.
CORS_ORIGIN=*
